$bg-color: #191414;
$font: 'Paytone ONe';
$logo-color: #1DB954;


body {
  background-color: $bg-color;
  color: yellowgreen;
  font-family: $font, sans-serif;

  margin: 0;
  padding: 0;
}

.App {

  h1 {
    text-align: center;
    font-size: 69px;
    color: $logo-color;
  }
}



.row {
  @media only screen and (min-width: 48rem) {
    padding: 0 0;
  }
  @media only screen and (min-width: 48em) {
    padding: 0 40px;
  }
  .empty{
    margin: auto;
  }
  .Album {
    // float: 'left';
    img {
      max-width: 100%;
      max-height:100%;
    }
  }
}